<div class="ui large inverted menu">
  <div class="ui container">
    <a href="/home" class="header item">
      <!-- <img class="logo" src="/images/logo.png"> -->
      MCKVCC
    </a>
    <div class="right menu">
      <a class="item" href="/login">Login</a>
      <a class="item" href="/signup">Signup</a>
    </a>
  </div>
  </div>
</div>