<div class="ui large inverted menu">
  <div class="ui container">
    <a href="#" class="header item">
      <!-- <img class="logo" src="/images/logo.png"> -->
      MCKVCC
    </a>
    <a href="/" class="item">Home</a>
    <div class="right menu">
    	<a class="item" href="/signup">Sign Up</a>
    </a>
  </div>
  </div>
</div>