<div class="menu">
    <a href="#" class="header item"><!-- <img class="logo" src="/images/logo.png"> -->MCKVIE-CC</a>
    <a href="/" class="item">Home</a>
    <a class="item" href="/signup">Sign Up</a>
</div>