<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<%- include('./includes/meta-includes'); %>
	<%- include('./includes/css-includes'); %>
</head>
<body>
<div>
<%- include('./includes/header-includes'); %>
	<div class="ui main text container">
    	<h1>Welcome to MCKVCC</h1>
    	<img src="/images/anku.jpg">
    	<div>
    		Ankit Gaurav
    	</div>
    </div>
</body>
</html>