<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class = "loginbody">
		<form class = "loginform">
			<input type="text" name="email" class = "emaillogin" placeholder = "Email">
			<input type="password" name="password" class = "passlogin" placeholder = "Password">
			<input type="submit" name="submit" class = "loginsub" value="Login"><br>
			<a href="/auth/github">Login with GitHub</a>
		</form>
	</div>
</body>
</html>