<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
</head>
<body>
	<form>
		<input type="text" name="email">
		<input type="password" name="password">
		<input type="submit" name="submit">

		<a href="/auth/github">Login with GitHub</a>
	</form>
</body>
</html>