<!DOCTYPE html>
<html>
<head>
	<title>Coder Dashboard | Signup</title>
</head>
<body>
	<form>
		<input type="text" name="email">
		<input type="password" name="password">
		<input type="submit" name="submit">
	</form>
</body>
</html>