<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class = "signupbody">
		<form class = "signupform">
			<input type="text" name="name" class = "signupname" placeholder="Name">
			<input type="text" name="email" class = "signupemail" placeholder="Email">
			<input type="password" name="password" class = "signuppass" placeholder="Password">
			<input type="submit" name="submit" class = "signupsub" value = "Signup">
		</form>
	</div>
</body>
</html>